.ms_nav_bg_color {
    background-color: #2C3E50;
    color: white;
}

.ms_header_bg_color {
    background-color: #1ABC9C;
    color: white;
}



.ms_section_color {
    background-color: #1ABC9C;
    color: white;
}

.ms_link_color a{
    color: white;
}

.content_spacer {
    margin-bottom: 0.5rem;
}

.ms_bar {
    height: 5px;
    border-radius: 9999px;
    background-color: white;
}
